$primary-color: #FCFCFC;
$secondary-color: #F61067;
$background-color: #5E239D;

$bp-small: 500px;
$bp-arrow: 700px;
$font-primary: 'Lusitana', sans-serif;
$color: #98B296;
$color-bg: #fcfcf4;
$color-dark: darken($color, 10%);
$color-lite: lighten($color, 10%);

@mixin position-center {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  margin: auto;
}